<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>    Postman load testing </span>
  </mat-toolbar-row>
</mat-toolbar>

  <mat-card fxLayout="column">

  <mat-card-content fxLayout="column">
    <h3>    Refer the postman collection either by upload or url </h3>
    <mat-form-field>
      <input matInput placeholder="Collection url">
    </mat-form-field>

    <input type="file" placeholder="Upload collection"  (change)="handleFileInput($event.target.files)"/>

    <mat-form-field>
      <mat-label>No of parallel execution</mat-label>
      <input type="number" matInput placeholder="No of parallel execution">
    </mat-form-field>

    <button mat-button color="primary" (click)="executeCollection()" >Execute</button>

  </mat-card-content>
</mat-card>
